# Lab 2

##Tatiana Romanchishina

####1) Load required libraries

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

####2) Read the data

In [10]:
path = r'/Users/tatiana/Downloads/2015CHRAnalyticData.csv'
df = pd.read_csv(path, thousands = ',')
df.head()

,STATECODE,COUNTYCODE,State,County,County that was not ranked,Premature death Value,Premature death Numerator,Premature death Denominator,Premature death Lower Confidence Interval,Premature death Upper Confidence Interval,...,Children eligible for free lunch Value,Children eligible for free lunch Numerator,Children eligible for free lunch Denominator,Children eligible for free lunch Lower Confidence Interval,Children eligible for free lunch Upper Confidence Interval,Homicide rate Value,Homicide rate Numerator,Homicide rate Denominator,Homicide rate Lower Confidence Interval,Homicide rate Upper Confidence Interval
0,1,0,AL,Alabama,NaN,9508,72385,13527993,9409,9607,...,0.500,372509,744621,NaN,NaN,9.1,2971,33176856,8.8,9.5
1,1,1,AL,Autauga County,NaN,8405,754,157345,7554,9257,...,0.383,3767,9825,NaN,NaN,4.6,17,376259,2.7,7.4
2,1,3,AL,Baldwin County,NaN,7457,2460,519994,7006,7908,...,0.344,9875,28700,NaN,NaN,4.3,52,1255425,3.2,5.6
3,1,5,AL,Barbour County,NaN,8901,414,76718,7580,10221,...,0.697,2661,3819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,7,AL,Bibb County,NaN,10729,407,64629,9124,12334,...,0.546,1934,3539,NaN,NaN,7.8,13,158530,4.1,13.3

####3) Look at the column data types

In [7]:
df.dtypes

STATECODE                                                       int64
COUNTYCODE                                                      int64
State                                                          object
County                                                         object
County that was not ranked                                    float64
Premature death Value                                         float64
Premature death Numerator                                     float64
Premature death Denominator                                   float64
Premature death Lower Confidence Interval                     float64
Premature death Upper Confidence Interval                     float64
Poor or fair health Value                                     float64
Poor or fair health Numerator                                 float64
Poor or fair health Denominator                               float64
Poor or fair health Lower Confidence Interval                 float64
Poor or fair health Upper Confidence Interval                 float64
Poor physical health days Value                               float64
Poor physical health days Numerator                           float64
Poor physical health days Denominator                         float64
Poor physical health days Lower Confidence Interval           float64
Poor physical health days Upper Confidence Interval           float64
Poor mental health days Value                                 float64
Poor mental health days Numerator                             float64
Poor mental health days Denominator                           float64
Poor mental health days Lower Confidence Interval             float64
Poor mental health days Upper Confidence Interval             float64
Low birthweight Value                                         float64
Low birthweight Numerator                                     float64
Low birthweight Denominator                                   float64
Low birthweight Lower Confidence Interval                     float64
Low birthweight Upper Confidence Interval                     float64
                                                               ...
Health care costs Numerator                                   float64
Health care costs Denominator                                 float64
Health care costs Lower Confidence Interval                   float64
Health care costs Upper Confidence Interval                   float64
Could not see doctor due to cost Value                        float64
Could not see doctor due to cost Numerator                    float64
Could not see doctor due to cost Denominator                  float64
Could not see doctor due to cost Lower Confidence Interval    float64
Could not see doctor due to cost Upper Confidence Interval    float64
Other primary care providers Value                            float64
Other primary care providers Ratio                             object
Other primary care providers Numerator                        float64
Other primary care providers Denominator                      float64
Other primary care providers Lower Confidence Interval        float64
Other primary care providers Upper Confidence Interval        float64
Median household income Value                                 float64
Median household income Numerator                             float64
Median household income Denominator                           float64
Median household income Lower Confidence Interval             float64
Median household income Upper Confidence Interval             float64
Children eligible for free lunch Value                        float64
Children eligible for free lunch Numerator                    float64
Children eligible for free lunch Denominator                  float64
Children eligible for free lunch Lower Confidence Interval    float64
Children eligible for free lunch Upper Confidence Interval    float64
Homicide rate Value                                           float64
Homicide rate Numerator                                       float64
Homicide rate Denominator                                     float64
Homicide rate Lower Confidence Interval                       float64
Homicide rate Upper Confidence Interval                       float64
dtype: object

####4) Remove columns with the words "numerator", "denominator", "ratio" or "confidence" in their names

In [11]:
cols = [c for c in df.columns if ('numerator' not in c.lower()) 
        and ('denominator' not in c.lower()) 
             and ('ratio' not in c.lower()) 
                  and ('confidence' not in c.lower())]
df = df[cols]

####5) The df is not reindexed when rows or columns are removed, so we need to explicitly reindex it.

In [12]:
df=df.reset_index(drop=True)

####6) Replace the white space with underscore.

In [13]:
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['STATECODE', 'COUNTYCODE', 'State', 'County',
       'County_that_was_not_ranked', 'Premature_death_Value',
       'Poor_or_fair_health_Value', 'Poor_physical_health_days_Value',
       'Poor_mental_health_days_Value', 'Low_birthweight_Value',
       'Adult_smoking_Value', 'Adult_obesity_Value',
       'Food_environment_index_Value', 'Physical_inactivity_Value',
       'Access_to_exercise_opportunities_Value', 'Excessive_drinking_Value',
       'Alcohol-impaired_driving_deaths_Value',
       'Sexually_transmitted_infections_Value', 'Teen_births_Value',
       'Uninsured_Value', 'Primary_care_physicians_Value', 'Dentists_Value',
       'Mental_health_providers_Value', 'Preventable_hospital_stays_Value',
       'Diabetic_screening_Value', 'Mammography_screening_Value',
       'High_school_graduation_Value', 'Some_college_Value',
       'Unemployment_Value', 'Children_in_poverty_Value',
       'Income_inequality_Value', 'Children_in_single-parent_households_Value',
       'Social_associations_Value', 'Violent_crime_Value',
       'Injury_deaths_Value', 'Air_pollution_-_particulate_matter_Value',
       'Drinking_water_violations_Value', 'Severe_housing_problems_Value',
       'Driving_alone_to_work_Value', 'Long_commute_-_driving_alone_Value',
       '2011_population_estimate_Value',
       'Percent_of_population_below_18_years_of_age',
       'Percent_of_population_aged_65_years_and_older',
       'Percent_of_population_that_is_non-Hispanic_African_American',
       'Percent_of_population_that_is_American_Indian_or_Alaskan_Native',
       'Percent_of_population_that_is_Asian',
       'Percent_of_population_that_is_Native_Hawaiian_or_Other_Pacific_Islander',
       'Percent_of_population_that_is_Hispanic',
       'Percent_of_population_that_is_non-Hispanic_White',
       'Population_that_is_not_proficient_in_English_Value',
       'Percent_of_population_that_is_female',
       'Population_living_in_a_rural_area_Value', 'Diabetes_Value',
       'HIV_prevalence_rate_Value', 'Premature_age-adjusted_mortality_Value',
       'Infant_mortality_Value', 'Child_mortality_Value',
       'Food_insecurity_Value', 'Limited_access_to_healthy_foods_Value',
       'Motor_vehicle_crash_deaths_Value', 'Drug_poisoning_deaths_Value',
       'Uninsured_adults_Value', 'Uninsured_children_Value',
       'Health_care_costs_Value', 'Could_not_see_doctor_due_to_cost_Value',
       'Other_primary_care_providers_Value', 'Median_household_income_Value',
       'Children_eligible_for_free_lunch_Value', 'Homicide_rate_Value'],
      dtype='object')

####7) Remove all the rows that have 1 in column "County that was not ranked", since they don't have any data. Remove the column with "drop"; the column option is indicated with "axis = 1"

In [14]:
df = df[df.County_that_was_not_ranked !=1]
df = df.drop('County_that_was_not_ranked', axis=1)

####8) Remove all the rows where the value of "Premature_Death_Value" is infinity or NaN.

In [15]:
df = df[np.isfinite(df['Premature_death_Value'])]

####9) Show the last 5 rows of the data frame

In [11]:
df.tail()

,STATECODE,COUNTYCODE,State,County,Premature_death_Value,Poor_or_fair_health_Value,Poor_physical_health_days_Value,Poor_mental_health_days_Value,Low_birthweight_Value,Adult_smoking_Value,...,Motor_vehicle_crash_deaths_Value,Drug_poisoning_deaths_Value,Uninsured_adults_Value,Uninsured_children_Value,Health_care_costs_Value,Could_not_see_doctor_due_to_cost_Value,Other_primary_care_providers_Value,Median_household_income_Value,Children_eligible_for_free_lunch_Value,Homicide_rate_Value
3186,56,37,WY,Sweetwater County,7065,0.142,3.7,3.7,0.09,0.243,...,28.91,14.95,0.206,0.085,7414,0.131,49,72899,0.247,NaN
3187,56,39,WY,Teton County,3853,0.059,2.1,2.3,0.06,0.098,...,7.47,NaN,0.238,0.130,7563,0.113,81,70201,0.125,NaN
3188,56,41,WY,Uinta County,7436,0.135,4.0,3.5,0.09,0.176,...,17.97,18.66,0.192,0.090,7600,0.123,47,60953,0.273,NaN
3189,56,43,WY,Washakie County,7572,0.106,2.8,2.3,0.05,0.140,...,25.74,NaN,0.226,0.101,7940,0.099,47,50740,0.309,NaN
3190,56,45,WY,Weston County,7819,0.162,3.5,3.0,0.09,0.198,...,24.22,NaN,0.189,0.092,7238,0.130,28,59314,0.235,NaN

####10) Reset the indices since we removed some columns and rows

In [16]:
df = df.reset_index(drop=True)

####11) The dimensions of the dataframe in the form (number of rows, number of columns)

In [17]:
df.shape

(3048, 68)

####12) Add columns bottom10  and top10

In [18]:
min = np.min(df['Premature_death_Value'])
max = np.max(df['Premature_death_Value'])
range = (max - min)/10

In [19]:
df['bottom10'] = [1 if d <= min + range else 0 for d in df['Premature_death_Value']]

In [20]:
df['top10'] = [1 if d >= max - range else 0 for d in df['Premature_death_Value']]

In [17]:
#only 2 couties in the top 10%
df[df.top10 == 1]

,STATECODE,COUNTYCODE,State,County,Premature_death_Value,Poor_or_fair_health_Value,Poor_physical_health_days_Value,Poor_mental_health_days_Value,Low_birthweight_Value,Adult_smoking_Value,...,Uninsured_adults_Value,Uninsured_children_Value,Health_care_costs_Value,Could_not_see_doctor_due_to_cost_Value,Other_primary_care_providers_Value,Median_household_income_Value,Children_eligible_for_free_lunch_Value,Homicide_rate_Value,bottom10,top10
1975,38,85,ND,Sioux County,23880,0.268,4.5,3.8,0.09,0.443,...,0.256,0.101,7815,0.161,23,34491,0.837,NaN,0,1
2349,46,113,SD,Shannon County,25394,0.196,3.7,3.4,0.07,0.435,...,0.249,0.068,9659,0.132,50,28512,0.932,14.6,0,1

In [18]:
# 149 counties in the bottom 10 %
len(df[df.bottom10 == 1])

149

####13) Save this transformed dataset into a csv file called 'CHR2015.csv'

In [21]:
df.to_csv('CHR2015.csv', index=False)
df.shape

(3048, 70)

####14) What is the minimum, maximum and mean of each column ?

In [20]:
df.describe()

,STATECODE,COUNTYCODE,Premature_death_Value,Poor_or_fair_health_Value,Poor_physical_health_days_Value,Poor_mental_health_days_Value,Low_birthweight_Value,Adult_smoking_Value,Adult_obesity_Value,Food_environment_index_Value,...,Uninsured_adults_Value,Uninsured_children_Value,Health_care_costs_Value,Could_not_see_doctor_due_to_cost_Value,Other_primary_care_providers_Value,Median_household_income_Value,Children_eligible_for_free_lunch_Value,Homicide_rate_Value,bottom10,top10
count,3048.000000,3048.000000,3048.000000,2724.000000,2782.000000,2587.000000,3039.000000,2711.000000,3048.000000,3048.000000,...,3048.000000,3048.000000,3045.000000,2409.000000,3001.000000,3048.000000,2774.000000,1283.000000,3048.000000,3048.000000
mean,30.120735,101.932415,7980.833990,0.173638,3.850755,3.581484,0.081909,0.213070,0.307242,7.132972,...,0.211930,0.080261,9452.704762,0.153381,58.997667,46070.051181,0.437943,6.294778,0.048885,0.000656
std,15.203785,108.037860,2410.204354,0.060555,1.126688,1.014612,0.020863,0.062546,0.043648,1.192945,...,0.065009,0.035475,1527.762422,0.055357,45.871084,11745.534439,0.169526,4.723881,0.215662,0.025612
min,1.000000,0.000000,2398.000000,0.045000,1.200000,1.000000,0.030000,0.031000,0.120000,0.000000,...,0.036000,0.011000,5014.000000,0.030000,0.000000,21572.000000,0.000000,0.600000,0.000000,0.000000
25%,18.000000,33.000000,6309.250000,0.128000,3.100000,2.900000,0.070000,0.170000,0.284000,6.500000,...,0.163000,0.055000,8380.000000,0.111000,33.000000,38097.000000,0.313000,3.200000,0.000000,0.000000
50%,29.000000,77.000000,7666.500000,0.166000,3.700000,3.500000,0.080000,0.208000,0.309000,7.300000,...,0.210000,0.073000,9406.000000,0.149000,50.000000,44054.000000,0.430000,5.100000,0.000000,0.000000
75%,45.000000,133.000000,9328.750000,0.209000,4.400000,4.100000,0.090000,0.249000,0.334000,7.900000,...,0.255000,0.099000,10421.000000,0.188000,74.000000,51650.000000,0.538000,7.900000,0.000000,0.000000
max,56.000000,840.000000,25394.000000,0.508000,10.000000,10.100000,0.180000,0.511000,0.481000,10.000000,...,0.523000,0.236000,16931.000000,0.414000,1348.000000,117680.000000,1.000000,48.000000,1.000000,1.000000

####15) How many data records exist for each state ? What do these data records represent ?

In [21]:
#the following counts represent the number of counties per state
df["State"].value_counts()

TX    227
GA    160
VA    134
KY    121
MO    115
IL    103
NC    101
IA    100
TN     96
KS     94
IN     93
OH     89
MN     88
MI     83
MS     82
OK     78
AR     76
WI     73
NE     70
PA     68
FL     68
AL     68
LA     65
NY     63
CO     58
CA     58
WV     56
SD     52
SC     47
MT     43
ID     43
WA     39
ND     37
OR     34
NM     32
UT     26
MD     25
WY     24
NJ     22
AK     22
ME     17
NV     16
AZ     16
MA     15
VT     15
NH     11
CT      9
RI      6
HI      5
DE      4
DC      1
dtype: int64

####16) What is the average years of life lost for each state ?

####17) Sort according the years of life lost by state. Where is Maine in the ranking ?

#####"Premature death is represented by the years of potential life lost before age 75 (YPLL-75). Every death occurring before the age of 75 contributes to the total number of years of potential life lost. The YPLL measure is presented as a rate per 100,000 population and is age-adjusted to the 2000 U.S. population." 
The above description is copied from the dataset's documentation. Based on it I can assume that since the value is already represented as a rate per 100000 people, the size of the state or the county does not matter. So I can get the mean of county rates to represent the state rate of premature death.

In [22]:
x = df[['State',"Premature_death_Value"]].groupby('State')
y = x[['Premature_death_Value']].mean().sort('Premature_death_Value', ascending = False)
y.rename(columns = {'Premature_death_Value': 'Years_Of_Life_Lost_Per_State'}).reset_index()
#x.ix[x[['Premature_death_Value']].transform(sum).sort('Premature_death_Value').index]

   State  Years_Of_Life_Lost_Per_State
0     MS                  10915.378049
1     AL                  10350.544118
2     OK                  10037.961538
3     KY                  10018.900826
4     AR                   9968.407895
5     TN                   9934.114583
6     WV                   9700.821429
7     LA                   9495.076923
8     SC                   9446.829787
9     AK                   9303.863636
10    NM                   9126.500000
11    GA                   8735.006250
12    AZ                   8551.250000
13    MO                   8420.539130
14    MT                   8399.767442
15    SD                   8384.711538
16    DC                   8239.000000
17    NV                   8203.812500
18    NC                   8133.960396
19    TX                   8037.149780
20    ND                   8006.297297
21    FL                   7987.632353
22    KS                   7842.946809
23    IN                   7825.720430
24    VA                   7781.253731
25    OH                   7538.348315
26    DE                   7432.500000
27    WY                   7320.125000
28    IL                   7172.456311
29    PA                   7083.176471
30    MI                   7047.361446
31    UT                   6861.923077
32    MD                   6651.280000
33    ID                   6640.674419
34    OR                   6640.000000
35    ME                   6539.470588
36    CO                   6427.258621
37    WA                   6348.717949
38    NE                   6344.714286
39    CA                   6326.241379
40    IA                   6284.320000
41    WI                   6060.616438
42    NY                   5984.158730
43    HI                   5869.200000
44    VT                   5861.200000
45    NJ                   5842.090909
46    MN                   5607.556818
47    NH                   5606.727273
48    RI                   5325.000000
49    CT                   5270.111111
50    MA                   5200.133333

Maine is number 36 in this ranking (0 based indexing).